html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: #3895cf;body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

  header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }

  header .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  header h1 {
    margin: 0;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  main {
    padding: 20px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

/*!* Center the title and form *!*/
/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 100vh; !* Full height of the viewport *!*/
/*}*/

/*h1 {*/
/*  margin-bottom: 20px; !* Add some space below the title *!*/
/*}*/

/*form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*label, input, button {*/
/*  margin-bottom: 10px; !* Add some space between elements *!*/
/*}*/
